.vs
.vscode
.DS_Store

cocos2d/build/**/*.a
cocos2d/build/**/*.o
cocos2d/build/**/*.so
cocos2d/build/**/*.obj
cocos2d/build/**/*.exe
cocos2d/cocos/**/*.a
cocos2d/cocos/**/*.o
cocos2d/cocos/**/*.so
cocos2d/cocos/**/*.obj
cocos2d/cocos/**/*.exe
cocos2d/cocos/**/[Dd]ebug*
cocos2d/cocos/**/[Rr]elease*

proj.win32/**/*.a
proj.win32/**/*.o
proj.win32/**/*.so
proj.win32/**/*.obj
proj.win32/**/*.exe
proj.win32/**/[Dd]ebug*
proj.win32/**/[Rr]elease*